/*Variables*/
$charbutton-bcg-color: rgb(13, 141, 13);
$cittybutton-bcg-color: rgb(60, 60, 222);
$button-text-color: rgb(218, 255, 218);
$hover-border-color: rgb(218, 255, 218);
$border-color: rgb(74, 72, 72, 0.7);
$active-border-color: rgb(79, 61, 35);
$button-radius: 20px;
$mobile-button-height: 25px;
$mobile-button-radius: 10px;
$border-structure: solid 3px;
/*mixin*/
@mixin char-button {
    background-color: $charbutton-bcg-color;
    height: 30px;
    border-top-right-radius: $button-radius;
    border-bottom-left-radius: $button-radius;
    border:$border-structure;
    border-color: $border-color;

    &:hover{
        border-color: $hover-border-color;
    }
    &:active{
        background-color: $active-border-color;
    }
}
@mixin city-button {
    background-color: $cittybutton-bcg-color;
    height: 40px;
    border-top-left-radius: $button-radius;
    border-bottom-right-radius: $button-radius;
    border:$border-structure;
    border-color: $border-color;
    &:hover{
        border-color: $hover-border-color;
    }
    &:active{
        background-color: $active-border-color;
    }
}

/* css code for desktop*/
input{
    margin-bottom: 10px;
    color: $button-text-color;
        
}
.charButton{
    @include char-button;
}

.cityButton{
    @include city-button;
}


/*css code for mobile*/
@media only screen and (max-width: 768px) {
    input{
        margin-bottom: 5px;
        color: $button-text-color;
        
    }
    .charButton{
    background-color: $charbutton-bcg-color;
    height: $mobile-button-height;
    border-top-right-radius: $mobile-button-radius;
    border-bottom-left-radius: $mobile-button-radius;
    }
    .cityButton{
    margin-bottom: 10px;
    overflow: hidden;
    background-color: $cittybutton-bcg-color;
    height: $mobile-button-height;
    border-top-left-radius: $mobile-button-radius;
    border-bottom-right-radius: $mobile-button-radius;
    }




}