$charbutton-bcg-color: rgb(13, 141, 13);
$cittybutton-bcg-color: rgb(60, 60, 222);
$button-text-color: rgb(218, 255, 218);
$hover-border-color: rgb(218, 255, 218);
$border-color: rgb(74, 72, 72, 0.7);
$active-border-color: rgb(79, 61, 35);

/* css koden för desktop*/
input{
    margin-bottom: 10px;
    color: $button-text-color;
}
.charButton{
background-color: $charbutton-bcg-color;
height: 30px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border:solid 3px;
border-color: $border-color;
}
.charButton:hover{
    border-color: $hover-border-color;
}
.charButton:active{
    background-color: $active-border-color ;
}
.cityButton{
background-color: $cittybutton-bcg-color;
height: 40px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
border:solid 3px;
border-color: $border-color;
}
.cityButton:hover{
    border-color: $hover-border-color;
}
.cityButton:active{
    background-color: $active-border-color ;
}

/* Css koden för mobilverisionen*/
@media only screen and (max-width: 768px) {
    input{
        margin-bottom: 5px;
        color: $button-text-color;
        
    }
    .charButton{
    background-color: $charbutton-bcg-color;
    height: 25px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    }
    .cityButton{
    margin-bottom: 10px;
    background-color: $cittybutton-bcg-color;
    height: 25px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }




}