$aside-bgc: rgba(222, 171, 124, 0.7);
$buttonTitle-bgc: rgba(71, 97, 122, 0.8);
$border-color: rgb(74, 72, 72, 0.7);

/* css koden för desktop*/
aside{
    display: flex;
    flex-direction: column;
    border: solid 3px;
    border-color: $border-color;
    justify-content: space-around;
    max-width: 120px;
    background-color: $aside-bgc ;
}
.buttonSection{
display: flex;
flex-direction: column;
max-width: 120px;
}
.buttonTitle{
    width: 95%;
    font-size: 30px;
    padding: 1px;
    background-color: $buttonTitle-bgc;
    border: solid 3px;
    border-color:border-color;
    border-radius: 5px;
}


/* Css koden för mobilverisionen*/
@media only screen and (max-width: 768px) {
    aside{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 60px;
        background-color: $aside-bgc ;
    }
    .buttonSection{
    display: flex;
    flex-direction: column;
    max-width: 60px;
    }
    .buttonTitle{
        width: 90%;
        font-size: 20px;
        padding: 1px;
        background-color: $buttonTitle-bgc;
        border: solid 3px;
        border-color:$border-color;
        border-radius: 5px;
    }
    #h1City{
        margin-bottom: 37px;
    }


}