$border-color: rgb(74, 72, 72, 0.7);

/* css koden för desktop*/

table{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 tbody{
     display: flex; 
     align-items: center;
     justify-content: center;
     border: solid 10px;
     border-color: $border-color;
     width: 400px;
     height: 400px;
     background-image: url(pictures/tree.png);
     background-size: 500px;
     background-position: center;
 }
 th{
     margin-top: 10px;
     margin-right: 20px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 td{
     margin-top: 10px;
     margin-left: 20px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }





/* Css koden för mobilverisionen*/
@media only screen and (max-width: 768px) {
    table{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     tbody{
         display: flex; 
         align-items: center;
         justify-content: center;
         border: solid 10px;
         width: 200px;
         height: 200px;
         background-image: url(pictures/tree.png);
         background-size: 250px;
         background-position: center;
     }
     th{
         margin-top: 10px;
         margin-right: 20px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }
     td{
         margin-top: 10px;
         margin-left: 20px;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }
    






}
